<div id="main-container">
  <div id="page-content">
    <div class="block full">
      <div class="block-title">
        <h2><strong><%= t "edit_shop_type" %> </strong></h2>
      </div>
      <%= render "form_shop_type" %>
    </div>
  </div>
</div>
