<% provide :title, t(".new_category") %>
<% provide :button_text, t(".edit_category") %>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h1><%= t ".edit_category" %></h1>
    <%= render "form" %>
  </div>
</div>
