@import 'bootstrap-sprockets';
@import 'bootstrap';

table th, table td {
  height: 30px;
  border: 1px solid black;
  padding: 10px;
  width: 100px;
}
.center {
  text-align: center;
}
.alert {
  position: fixed;
  top: 85;
  width: 500px;
  left: 0px;
}
.avatar-shop img {
  width: 150px;
  height: 100px;
}
.clr {
  clear: both;
}
a:hover {
  text-decoration: none;
}
#myModalShop .new_shop {
  padding: 10px 20px;
}

.main-content {
  background-color: white;
  min-height: 503px;
  border-radius: 10px
}

.btn-submit-form {
  text-align: center;
}

.suggestion-form {
  padding: 10px 20px;
}

