@import 'bootstrap-sprockets';
@import 'bootstrap';

table th, table td {
  height: 30px;
  border: 1px solid black;
  padding: 10px;
  width: 100px;
}
.center {
  text-align: center;
}
.alert {
  position: fixed;
  top: 85;
  width: 500px;
  left: 0px;
}
.avatar-shop img {
  width: 150px;
  height: 100px;
}
.clr {
  clear: both;
}
a:hover {
  text-decoration: none;
}
#myModalShop .new_shop {
  padding: 10px 20px;
}

.main-content {
  background-color: white;
  min-height: 503px;
  border-radius: 10px
}

.btn-submit-form {
  text-align: center;
}

.suggestion-form {
  padding: 10px 20px;
}

/*suggestion*/
tr.display-suggestion{
  th.index{
    width: 50px;
    text-align: center;
  }
  th.image{
    width: 80px;
    text-align: center;
  }
  th.description{
    text-align: center;
  }
  th.status{
    text-align: center;
  }
  th.action{
    text-align: center;
  }
}
tr.suggestion{
  td.index{
    width: 50px;
    text-align: center;
  }
  td.image{
    width: 80px;
    text-align: center;
  }
  td.description{
  }
  td.action{
    text-align: center;
  }
  td.status{
    text-align: center;
  }
}
.paginate{
  text-align: center;
}
.text-center{
  text-align: center;
}
