<div id="main-container">
  <div id="page-content">
    <div class="block full">
      <div class="block-title">
        <h2><strong><%= t "shop" %> </strong><%= t "overview" %></h2>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-4">
          <div class="row push">
            <div class="col-xs-6">
              <h3>
                <strong class="animation-fadeInQuick">
                  <%= t "all_shop" %>
                </strong><br>
                <small class="text-uppercase animation-fadeInQuickInv">
                  <a href="javascript:void(0)"><%= t "total_shop" %></a>
                </small>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
